.active {
  background-color: #17e98a;
}
.list {
  @apply flex justify-between items-center gap-x-4 uppercase tracking-[.25rem] h-[2rem];
}
.listItem {
  @apply text-white p-2 mt-2;
}
.selected {
  @apply underline text-main-green underline-offset-8 font-bold;
}
.activeListItem {
  @apply text-dark-blue bg-main-green;
}


