body {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  --secondary-color: #FFFFFF;
  --primary-color: #00050B;
  --primary-color-rgb: 0, 5, 11;
  --secondary-color-rgb: 255, 255, 255;
  --theme-img: url('./images/light_mode.svg');
  --triangle-url: url('./images/triangle_light.svg');
  --ellipse-url: url('./images/ellipse.svg');
}

body.light-theme {
  --secondary-color: #001825;
  --primary-color: #FFFFFF;
  --secondary-color-rgb: 0, 5, 11;
  --primary-color-rgb: 255, 255, 255;
  --theme-img: url('./images/dark_mode.svg');
  --triangle-url: url('./images/triangle_dark.svg');
  --ellipse-url: url('./images/ellipse.svg');
}

body {
  background: var(--primary-color);
}

:root {
  font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: inherit;
  
  position: relative;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a {
  font-weight: 600;
  color: var(--secondary-color);
  text-decoration: inherit;
  width: 100%;
  text-align: center;
  padding: 4px 0px;
}
.button-container a:hover {
  background-color: rgba(var(--secondary-color-rgb), 0.3);
}

.text-opacque {
  opacity: 0.7;
}
.text-center {
  text-align: center;
}

.button-container {
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: start;
  margin: 1rem 0;
}

.buttons-list-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: start;
}

.button-link {
  width: 233px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.button-link > img {
  margin-right: 0.5rem;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  width: 100%;
  min-height: inherit;
  height: 100%;
  display: flex;
  position: relative;
  z-index: 20;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  z-index: 20;
  color: var(--secondary-color);
}

.plt-triangle-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 50vH;
  z-index: -1;
  content: ''; 
  background: var(--triangle-url) repeat;
  opacity: 0.25;
}

.plt-triangle-content-opacque {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: linear-gradient(to top, rgba(var(--primary-color-rgb), 1), rgba(var(--primary-color-rgb), 0.2) 43%);
}

#button-theme-selector {
  border: none;
  position: absolute;
  top: 2rem;
  right: 3rem;
  width: 40px;
  height: 40px;
  background: var(--theme-img);
  outline: none;
  z-index: 1;
}

.text-desktop-display {
  font-family: Inter;
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
  text-align: center;
  margin: 0;
}

.text-desktop-body-large {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.688rem;
  text-align: center;
}

a.plt-doc-link {
  color: #2588E4;
  font-weight: 400;
  margin: 0 0 2rem;
}

.services-container {
  display: flex;
  background-color: #090E17;
  padding: 1rem;
  gap: 1rem;
  
}

.services-list {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.services-list > div{
  height: 3rem;
}

.service-type {
  border-radius: 4px;
}
.service-type-name {
  color: #FFFFFF;
  margin-bottom: .5rem  ;
  display: flex;
  font-weight: bold;
}

.service-type-name img {
  margin-right: .5rem;
}
.service-type-name .count {
  opacity: 0.7;
  font-weight: normal;
  margin-left: 1rem;
}
.service-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
  background-color: #040607;
  padding: .5rem;
}

.service-details a {
  display: block;
  width: 25px;
}
.service-path {
  opacity: 0.7;
}