.swagger-ui .topbar {
  padding: 8px 30px;
  background-color: #00283d
}

.swagger-ui .topbar .download-url-wrapper input[type=text] {
  min-width: 350px;
  margin: 0;
  border: 2px solid #21f190;
  border-radius: 4px 0 0 4px;
  outline: none
}

.swagger-ui .topbar .download-url-wrapper .download-url-button {
  font-size: 16px;
  font-weight: 700;
  padding: 4px 40px;
  border: none;
  border-radius: 0 4px 4px 0;
  background: #21f190;
  font-family: Titillium Web, sans-serif;
  color: #fff
}

.swagger-ui .info .title small.version-stamp {
  background-color: #21f190;
}
