name: docker release build

# TODO(mcollina): This MUST be fixed before going 2.x, we are publishing latest all the times

on:
  release:
    types: [released]

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            platformatic/platformatic:latest
            platformatic/platformatic:${{ github.ref_name }}
          platforms: linux/amd64,linux/arm64
