name: Add new issue/PR to project

on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue or PR to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.INTERNAL_GH_APP_ID }}
          private-key: ${{ secrets.INTERNAL_GH_APP_SECRET }}
      - name: Add to Project
        env:
          TOKEN: ${{ steps.app-token.outputs.token }}
        uses: actions/add-to-project@4fda2e598c349fd1d6770dc6df8b0b61158c3e90
        with:
          project-url: https://github.com/orgs/platformatic/projects/1
          github-token: ${{ env.TOKEN }}
