name: markdown lint

on:
  push:
    branches-ignore:
      - master
      - main
    paths:
       - "**/*.md"
  pull_request:
    branches:
      - master
      - main
    paths:
       - "**/*.md"

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  build:
    name: Lint Markdown
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
        with:
          persist-credentials: false
        
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Install Linter
        run: npm install --ignore-scripts

      - name: Add Matcher
        uses: xt0rted/markdownlint-problem-matcher@v3

      - name: Run Linter
        run: ./node_modules/.bin/markdownlint-cli2