name: "documentation"
on:
  release:
    types: [released]

  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - '**.md'
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Update docs
        if: ${{ github.event_name == 'release' }}
        run: |
          curl -vvv -XPOST -u "${{ secrets.GH_API_USERNAME }}:${{ secrets.GH_API_TOKEN }}" -H "Accept: application/vnd.github.everest-preview+json" -H "Content-Type: application/json" https://api.github.com/repos/platformatic/docs/dispatches --data '{"event_type": "update_docs"}' --fail
      - name: Force update docs
        if: ${{ github.event_name == 'push' }}
        run: |
          curl -vvv -XPOST -u "${{ secrets.GH_API_USERNAME }}:${{ secrets.GH_API_TOKEN }}" -H "Accept: application/vnd.github.everest-preview+json" -H "Content-Type: application/json" https://api.github.com/repos/platformatic/docs/dispatches --data '{"event_type": "update_docs", "client_payload": { "force": true }}' --fail
